1st[[:space:]]Semester[[:space:]](1-1)/Study[[:space:]]Materials/Lab[[:space:]]Courses/HUM[[:space:]]4142[[:space:]](Arabic)/For[[:space:]]Mid[[:space:]]and[[:space:]]Final/Uthmani[[:space:]]Script[[:space:]]AL-QURAN.pdf filter=lfs diff=lfs merge=lfs -text
1st[[:space:]]Semester[[:space:]](1-1)/Study[[:space:]]Materials/Theory[[:space:]]Courses/CSE[[:space:]]4107[[:space:]](SP)/Books/K.[[:space:]]N.[[:space:]]King[[:space:]]-[[:space:]]C[[:space:]]Programming_[[:space:]]A[[:space:]]Modern[[:space:]]Approach[[:space:]](2008,[[:space:]]W.[[:space:]]W.[[:space:]]Norton[[:space:]]_[[:space:]]Company)[[:space:]]-[[:space:]]libgen.lc.pdf filter=lfs diff=lfs merge=lfs -text
1st[[:space:]]Semester[[:space:]](1-1)/Study[[:space:]]Materials/Lab[[:space:]]Courses/CSE[[:space:]]4108[[:space:]](SP[[:space:]]Lab)/Books/K.[[:space:]]N.[[:space:]]King[[:space:]]-[[:space:]]C[[:space:]]Programming_[[:space:]]A[[:space:]]Modern[[:space:]]Approach[[:space:]](2008,[[:space:]]W.[[:space:]]W.[[:space:]]Norton[[:space:]]_[[:space:]]Company)[[:space:]]-[[:space:]]libgen.lc.pdf filter=lfs diff=lfs merge=lfs -text
1st[[:space:]]Semester[[:space:]](1-1)/Study[[:space:]]Materials/Theory[[:space:]]Courses/MATH[[:space:]]4141/Books/Calculus[[:space:]]With[[:space:]]Analytic[[:space:]]Geometry[[:space:]]by[[:space:]]Mustafa[[:space:]]Munem[[:space:]](z-lib.org).pdf filter=lfs diff=lfs merge=lfs -text
